#counter {
    font-size: 0;
    border: 1px solid #000;
    border-top-width: 2px;
    border-bottom-width: 2px;
    display: inline-block;
    margin-top: 50px;
}

.csCounter-digit {
    display: inline-block;
    font-size: 18pt;
    height: 28px;
    width: 18px;
    line-height: 28px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: -webkit-linear-gradient(top, #777, #fff 40%, #fff 60%, #777);
    background: -moz-linear-gradient(top, #777, #fff 40%, #fff 60%, #777);
    background: -ms-linear-gradient(top, #777, #fff 40%, #fff 60%, #777);
    background: linear-gradient(top, #777, #fff 40%, #fff 60%, #777);
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
            
.csCounter-digit .csCounter-tape {
    position: absolute;
    top: 0;
    width: 100%;
    height: 280px;
    display: block;
    text-shadow: rgba(255, 255, 255, 0.6) 0 -1px 0;
}
            
.csCounter-tape span {
    display: block;
    position: absolute;
    width: 100%;
}